<h2>Confirm Your Email</h2>

<%= form_tag postEmail_path, method: :post, local: true do %>
  <div class="field">
    <%= label_tag 'user_entered_otp', 'Enter OTP' %>
    <%= text_field_tag 'user_entered_otp', nil, autofocus: true, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= submit_tag 'Confirm Email' %>
  </div>
<% end %>


